/*
#B7DAE4 - light blue;
#54A8C0 - 
#8E9CB7 - dark blue
#FEFEFE - white
*/
html, body {
    background: #28292A;
}

body {
	font: normal 14px/20px "Droid Sans", Arial, Helvetica, sans-serif;
	color: #444;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Droid Sans', sans-serif;
	font-weight: 400;
}

h3.column-title {
	line-height: 30px;
}

h3.column-title img {
	float: right;
	margin: -15px 0 0 20px;
}

h4, h5, h6 {
	font-weight: bold;
}

a, a:hover {
	text-decoration: none;
}

::selection {
	background: #39F;
	color: white;
}

.white {
	background-color: #fefefe;
}

hr {
	/*border-bottom: 1px dashed #AAA;*/
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAA8AAAAACCAYAAACXHrW5AAAABHNCS…e6UbZBt0myktPi3BUAAAAA8B9h0IXGmtCI142yc+bPrA9SsV5iEaGw/wAAAABJRU5ErkJggg==) 50% 100% no-repeat;
}

section {
	padding-top: 30px;
}

.body-bg {
	background: #ECFAFC url(/img/body_top.jpg) center top no-repeat;
	width: 100%;
	min-height: 400px;
	padding-bottom: 30px;
}

header {
	position: relative;
}

.breadcrumb {
	border: 1px solid #D2D3D4;
}

.well {
	border: 1px solid #18a9c6;
	background: #e2fafc;
}

.box_light_gray {
	background: whitesmoke;
	border-top: 1px solid #E5E5E5;
	border-bottom: 1px solid #E5E5E5;
	padding: 30px 0 25px 0;
	text-align: center;
}

#logo {
	position: absolute;
	top: 20px;
	left: -15px;
}

#logo img {
	width: 245px;
}

#social {
    margin: 10px;
}

div .plusone, .twitter, .fb-like {
    font-size: 1px;
    display: inline-block;
}
div .fb_reset {
    display: inline;
}
#toolbar {
	margin: 10px 5px;
	font-size: 13px;
	line-height: 26px;
	text-align: right;
}

#toolbar i {
	margin-top: 0;
	text-align: right;
}

#toolbar span {
	display: inline-block;
	
}
#toolbar span.phone {
	font-weight: bold;
	padding: 0 5px;
	color: #325B7B;
}

#menu {
	padding: 1px;
	border-radius: 7px;
	background: #D7D7D7;
	background: url("/img/menu_border.svg") 0 0 repeat-x;
	background-size: 100% 100%;
	float: right;
}

.menu-main, .menu-main li, .menu-main li a {
	float: left;
}

.menu-main {
	border: 1px solid white;
	border-radius: 6px;
	background: #D7D7D7;
	background: url("/img/menu_bg.svg") 0 0 repeat-x;
	background-size: 100% 100%;
	float: left;
}

.menu, .menu ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.menu-main li.level1:first-child {
	margin-left: -2px;
}

.menu-main li.level1:first-child {
	border-left: none;
}

.menu-main li.level1:first-child .level1 {
	border-left: 1px solid #D2D3D4;
}

.menu-main li.level1:first-child, .menu-main li.level1:first-child > .level1 {
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}

.menu-main li.level1 {
	margin: -1px 0;
}

.menu-main li.active.level1 {
	border-left: 1px solid white;
}

.menu-main li.active.level1 .level1 > span {
	padding-left: 18px;
}

.menu-main li.level1:hover {
	border-left: 1px solid #FFF;
}

.menu-main li.level1:hover .level1 {
	margin-top: -1px;
	border-top: 1px solid #d2d3d4;
	border-left: 1px solid #DCDDDE;
	box-shadow: 0 1px 2px rgba(0,0,0,0.07) inset;
	color: #000;
}

.menu-main li:hover .level1 > span {
	padding-left:16px;
}

.menu-main, .menu-main li, .menu-main li a {
	float: left;
}

.menu-main a > span {
	height: 38px;
	padding: 0 18px;
	line-height: 38px;
	text-shadow: 0 1px 0 white;
	font-size: 15px;
}

.menu a, .menu span {
	display: block;
}

.menu-main a {
	color: #444;
}

#block-footer {
	border-top: 1px solid #232425;
}

.main-body {
	margin: 25px 0;
}

.featured-content {
	position: relative;
}

.featured-content img, .header-content img {
	border-radius: 6px;
	box-shadow: 2px 2px 2px #888888;
}

.featured-content .text-holder {
	height: 85px;
	padding: 15px 0 0 0;
	background: url(/img/featured-text.png) 0 0 repeat-x;
	position: absolute;
	bottom: 5px;
	left: 0;
	z-index: 5;
	width: 100%;
}

.featured-content .text-holder  h3 {
	font-size: 22px;
	margin: 0 0 3px 15px;
	color: #fff;
	line-height: 26px;
}

.featured-content .text-holder  p {
	font-size: 14px;
	padding: 0 15px 10px 15px;
	color: #61D3DA;
}

.contact-phone label {
	background: url(/img/icon_phone_small.png) 0 2px no-repeat;
	padding-left: 22px;
	margin-right: 20px;
	float: left;
}

.contact-phone strong {
	font-size: 18px;
}

.home-info {
	padding: 8px 35px 8px 14px;
	margin-bottom: 20px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #d2ebfa;
	border: 1px solid #87b4d2;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.profile-photo {
	float: right;
	margin: 10px 0 10px 20px;
	border: 1px solid #ddd;
	box-shadow: 0 0 5px #ddd;
	padding: 5px;
	background: #fff;
}

.google-map {
	width: 96%;
	height: 800px;
	font-family: Arial, sans-serif;
}

#footer {
	font-size: 12px;
	line-height: 16px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
	margin: 30px 20px;
	color: #444;
}

#footer .socials {
	display: none;
}
#footer a {
	color: #555;
}
#footer {
	position: relative;
}
