<header class="container">
	<a id="logo" href="/"><img src="/img/chp-logo-main.png" alt="logo"></a>
	<div id="toolbar" class="clearfix">
		<div class="pull-right">
		<div>
			<span>Call us directly:</span>
			<span class="phone">630-848-1700</span>
			<i class="icon-calendar"></i>
		</div>
		<div> 
			<span>2007 95th Street Lower Level, Suite A Naperville, IL 60564</span>
			<span class="phone"><a href="/office-information">View Location</a></span>
			<i class="icon-map-marker"></i>
		</div>
		</div>
	</div>
	<nav id="menu">
		<ul class="menu menu-main">
			<li class="level1">
				<a href="/doctors" class="level1"><span>Doctors</span></a>
			</li>
			<li class="level1">
				<a href="/new-patients" class="level1"><span>New Patients</span></a>
			</li>
			<li class="level1">
				<a href="/health-information" class="level1"><span>Health Info</span></a>
			</li>
			<li class="level1">
				<a href="/office-information" class="level1"><span>Office Info</span></a>
			</li>
			<li class="level1">
				<a href="/scheduling" class="level1"><span>Scheduling</span></a>
			</li>
			<li class="level1">
				<a href="/forms-billing" class="level1"><span>Forms & Billing</span></a>
			</li>
		</ul>
	</nav>
</header>