<header class="container">
	<a id="logo" href="/"><img src="/img/chp-logo-main.png" alt="logo"></a>
	<div id="toolbar" class="clearfix">
		<div class="pull-right">
		<div>
			<i class="icon-phone"></i>
			<span>Call us directly:</span>
			<span class="phone">630-848-1700</span>
		</div>
		<div> 
			
			<a href="/office-information"><i class="icon-map-marker"></i></a>
			<span>2007 95th Street Lower Level, Suite A Naperville, IL 60564</span>
		</div>
		</div>
	</div>
	<nav id="menu">
		<ul class="menu menu-main">
			<li class="level1 {% if page.active == 'doctors' %}active{% endif %}">
				<a href="/doctors" class="level1 {% if page.active == 'doctors' %}active{% endif %}"><span>Doctors</span></a>
			</li>
			<li class="level1 {% if page.active == 'new-patients' %}active{% endif %}">
				<a href="/new-patients" class="level1 {% if page.active == 'new-patients' %}active{% endif %}"><span>New Patients</span></a>
			</li>
			<li class="level1 {% if page.active == 'health' %}active{% endif %}">
				<a href="/health-information" class="level1 {% if page.active == 'health' %}active{% endif %}"><span>Health Info</span></a>
			</li>
			<li class="level1 {% if page.active == 'office' %}active{% endif %}">
				<a href="/office-information" class="level1 {% if page.active == 'office' %}active{% endif %}"><span>Office Info</span></a>
			</li>
			<li class="level1 {% if page.active == 'schedule' %}active{% endif %}">
				<a href="/scheduling" class="level1 {% if page.active == 'schedule' %}active{% endif %}"><span>Scheduling</span></a>
			</li>
			<li class="level1 {% if page.active == 'billing' %}active{% endif %}">
				<a href="/forms-billing" class="level1 {% if page.active == 'billing' %}active{% endif %}"><span>Forms & Billing</span></a>
			</li>
		</ul>
	</nav>
</header>