<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Naperville Area Pediatricians - Children&#39;s Health Partners</title>
    <meta property="og:title" content="Naperville Area Pediatricians - Children&#39;s Health Partners" />
	<script src="http://code.jquery.com/jquery.min.js"></script>
	<script src="/js/app.js"></script>
	{% include head.html %}
  </head>
  
  <body>
    <div class="body-bg">
  
  	  {% include header.html %}
  
  	  {{ content }}
  	
  	</div>
  	
  	{% include footer.html %}
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>